<?xml version="1.0" encoding="UTF-8"?>
<config>
	<siteName>OCWiki beta</siteName>
	<mainEntry>/index.jsp</mainEntry>
	<actionPath>${homeDir}/action</actionPath>
	<apiPath>${homeDir}/api</apiPath>
	<restPath>${homeDir}/rest</restPath>
	<templatePath>${homeDir}/templates/${template}</templatePath>
	<uploadPath>${homeDir}/uploads</uploadPath>
	<uploadDir>/uploads</uploadDir>
	<defaultTemplate>default</defaultTemplate>

    <!--********************************************************************
                                 Actions 
     ********************************************************************-->

    <action>
      <name>homepage</name>
      <class>oop.controller.action.HomepageAction</class>
    </action>
    <action>
      <name>error</name>
      <class>oop.controller.action.ErrorAction</class>
    </action>
    <action>
      <name>aboutus</name>
      <class>oop.controller.action.AboutUsAction</class>
    </action>
    
    
    <!-- Article actions -->
    <action>
      <name>article.view</name>
      <class>oop.controller.action.article.ViewAction</class>
    </action>
    <action>
      <name>article.view.BaseQuestion</name>
      <class>oop.controller.action.article.ViewAction</class>
    </action>
    <action>
      <name>article.view.Test</name>
      <class>oop.controller.action.article.ViewAction</class>
    </action>
    <action>
      <name>article.view.TestStructure</name>
      <class>oop.controller.action.article.ViewAction</class>
    </action>
    <action>
      <name>article.viewold</name>
      <class>oop.controller.action.article.ViewOldRevisionAction</class>
    </action>
    <action>
      <name>article.edit</name>
      <class>oop.controller.action.article.EditAction</class>
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>article.diff</name>
      <class>oop.controller.action.article.DifferentiateAction</class>
    </action>
    <action>
      <name>revision.list</name>
      <class>oop.controller.action.revision.ListAction</class>
    </action>
    <action>
      <name>article.print</name>
      <class>oop.controller.action.article.PrintAction</class>
      <container>print.jsp</container>
    </action>
    
    

    <action>
        <name>textart.create</name>
        <loginRequired>true</loginRequired>
        <class>oop.controller.action.textart.CreateAction</class>
        <title>Tạo bài viết</title>
    </action>
    
    
    <action>
      <name>test.list</name>
      <class>oop.controller.action.test.ListAction</class>
    </action>
    <action>
      <name>test.view</name>
      <class>oop.controller.action.test.ViewAction</class>
    </action>
    <action>
      <name>test.create</name>
      <class>oop.controller.action.test.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>test.edit</name>
      <class>oop.controller.action.test.EditAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>test.solve</name>
      <class>oop.controller.action.test.SolveAction</class>
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>test.addquestion</name>
      <class>oop.controller.action.test.AddQuestionAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>test.editquestion</name>
      <class>oop.controller.action.test.EditQuestionAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>test.deletequestion</name>
      <class>oop.controller.action.test.DeleteQuestionAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>test.savedocx</name>
      <class>oop.controller.action.test.SaveDocxAction</class>
    </action>
    <action>
      <name>section.create</name>
      <class>oop.controller.action.section.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>section.delete</name>
      <class>oop.controller.action.section.DeleteAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>section.edit</name>
      <class>oop.controller.action.section.EditAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>section.moveup</name>
      <class>oop.controller.action.section.MoveUpAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>section.movedown</name>
      <class>oop.controller.action.section.MoveDownAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>teststruct.list</name>
      <class>oop.controller.action.teststruct.ListAction</class>
    </action>
    <action>
      <name>teststruct.view</name>
      <class>oop.controller.action.teststruct.ViewAction</class>
    </action>
    <action>
      <name>teststruct.create</name>
      <class>oop.controller.action.teststruct.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>teststruct.edit</name>
      <class>oop.controller.action.teststruct.EditAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>levelconst.create</name>
      <class>oop.controller.action.levelconst.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>topicconst.create</name>
      <class>oop.controller.action.topicconst.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>sectstruct.create</name>
      <class>oop.controller.action.sectstruct.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>sectstruct.delete</name>
      <class>oop.controller.action.sectstruct.DeleteAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>sectstruct.edit</name>
      <class>oop.controller.action.sectstruct.EditAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>sectstruct.moveup</name>
      <class>oop.controller.action.sectstruct.MoveUpAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>sectstruct.movedown</name>
      <class>oop.controller.action.sectstruct.MoveDownAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>question.list</name>
      <class>oop.controller.action.question.ListAction</class>
    </action>
    <action>
      <name>question.view</name>
      <class>oop.controller.action.question.ViewAction</class>
    </action>
    <action>
      <name>question.eview</name>
      <class>oop.controller.action.question.EnhancedViewAction</class>
      <javaScript></javaScript>
    </action>
    <action>
      <name>question.create</name>
      <class>oop.controller.action.question.CreateAction</class>
      <loginRequired>true</loginRequired>
      <!-- <requiredGroup>teacher</requiredGroup> -->
    </action>
    <action>
      <name>question.edit</name>
      <class>oop.controller.action.question.EditAction</class>
      <loginRequired>true</loginRequired>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <requiredGroup>admin</requiredGroup>
    </action>
    <action>
      <name>question.delete</name>
      <class>oop.controller.action.question.DeleteAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>answer.create</name>
      <class>oop.controller.action.answer.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>answer.edit</name>
      <class>oop.controller.action.answer.EditAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>answer.delete</name>
      <class>oop.controller.action.answer.DeleteAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>topic.list</name>
      <class>oop.controller.action.topic.ListAction</class>
    </action>
    <action>
      <name>topic.tree</name>
    </action>
    <action>
      <name>topic.create</name>
      <class>oop.controller.action.topic.CreateAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>topic.edit</name>
      <class>oop.controller.action.topic.EditAction</class>
      <!-- <requiredGroup>teacher</requiredGroup> -->
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>statistics.list</name>
      <class>oop.controller.action.statistics.ListAction</class>
    </action>
    <action>
      <name>statistics.topic.uncategorized</name>
      <class>oop.controller.action.topic.ListUncategorizedAction</class>
    </action>
    <action>
      <name>statistics.topic.unused</name>
      <class>oop.controller.action.topic.ListUnusedAction</class>
    </action>
    <action>
      <name>statistics.article.uncategorized</name>
      <class>oop.controller.action.article.ListUncategorizedAction</class>
    </action>
        <action>
      <name>statistics.article.locked</name>
      <class>oop.controller.action.article.ListLockedAction</class>
    </action>
	<action>
      <name>statistics.file.unused</name>
      <class>oop.controller.action.file.ListUnusedAction</class>
    </action>
    <!--********************************************************************
                           TextArticle Action
     ********************************************************************-->
	<action>
      <name>textarticle.view</name>
      <class>oop.controller.action.TextArticle.ViewAction</class>
    </action>
    <action>
      <name>solution.view</name>
      <class>oop.controller.action.solution.ViewAction</class>
    </action>
    <action>
      <name>solution.create</name>
      <class>oop.controller.action.solution.CreateSolution</class>
    </action>
    <!--********************************************************************
                           User Actions 
     ********************************************************************-->
    
    <action>
      <name>user.list</name>
      <class>oop.controller.action.user.ListAction</class>
    </action>
    <action>
      <name>user.login</name>
      <class>oop.controller.action.user.LogInAction</class>
    </action>
    <action>
      <name>user.login.openid</name>
      <class>oop.controller.action.openid.SendAuthenticationAction</class>
    </action>
    <action>
      <name>user.login.openid.verification</name>
      <class>oop.controller.action.openid.GetVerificationAction</class>
    </action>
    <action>
      <name>user.logout</name>
      <class>oop.controller.action.user.LogOutAction</class>
    </action>
    <action>
      <name>user.signup</name>
      <class>oop.controller.action.user.SignUpAction</class>
      <disabled>true</disabled>
    </action>
    
    <action>
      <name>user.forgetpass</name>
      <class>oop.controller.action.user.ForgetPassAction</class>
      <disabled>true</disabled>
    </action>
    
    <action>
      <name>user.preference</name>
      <class>oop.controller.action.user.PreferenceAction</class>
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>uploadFile</name>
      <class>oop.controller.action.file.UploadAction</class>
      <loginRequired>true</loginRequired>
    </action>

    <action>
      <name>uploadFile-Ajax</name>
    </action>
    
    <action>
      <name>user.edituser</name>
      <class>oop.controller.action.user.EditUserAction</class>
      <loginRequired>true</loginRequired>
    </action>
    <action>
      <name>user.editrequiredGroup</name>
      <class>oop.controller.action.user.EditGroupAction</class>
      <requiredGroup>admin</requiredGroup>
    </action>
    <action>
      <name>user.profile</name>
      <class>oop.controller.action.user.ProfileAction</class>
    </action>
    
    <action>
        <name>admin/reindex</name>
        <class>oop.controller.action.admin.RebuildIndexAction</class>
        <requiredGroup>admin</requiredGroup>
    </action>
    <action>
      <name>admin.home</name>
      <class>oop.controller.action.admin.HomeAction</class>
    </action>

    <action>
        <name>user.fblogin</name>
        <class>oop.controller.action.user.FacebookLoginAction</class>
    </action>
    
    <action>
      <name>search</name>
      <class>oop.controller.action.search.SearchAction</class>
      <loginRequired>false</loginRequired>
    </action>

    <!--********************************************************************
                                  API  
     ********************************************************************-->
    <api>
      <name>topic.search</name>
      <class>oop.controller.api.topic.Search</class>
    </api>
    <api>
      <name>test.search</name>
      <class>oop.controller.api.test.Search</class>
    </api>
    <api>
      <name>teststruct.search</name>
      <class>oop.controller.api.teststruct.Search</class>
    </api>
    <api>
      <name>question.search</name>
      <class>oop.controller.api.question.Search</class>
    </api>
    
    <!--********************************************************************
                                Modules 
     ********************************************************************-->

    <!-- 
    <module>
       <name>qtopics</name>
        <title>Câu hỏi</title>
        <class>oop.module.QuestionTopicsModule</class>
        <position>left</position>
        <order>4</order>
    </module>
    <module>
       <name>ttopics</name>
        <title>Đề thi</title>
        <class>oop.module.TestTopicsModule</class>
        <position>left</position>
        <order>5</order>
    </module>
    <module>
       <name>stopics</name>
        <title>Cấu trúc đề</title>
        <class>oop.module.TestStructureTopicsModule</class>
        <position>left</position>
        <order>6</order>
    </module>
     -->
    <module>
       <name>user</name>
        <title>Công cụ</title>
        <class>oop.module.UserToolbarModule</class>
        <position>left</position>
        <order>2</order>
    </module>
    <module>
       <name>user-lib</name>
        <title>Thư viện cá nhân</title>
        <position>left</position>
        <order>3</order>
        <loginRequired>true</loginRequired>
    </module>
    <module>
       <name>session</name>
        <title>Đăng nhập</title>
        <class>oop.module.SessionModule</class>
        <position>top_right</position>
        <order>1</order>
    </module>
    <module>
       <name>topic-button</name>
        <title>Chủ đề</title>
        <position>top_right</position>
        <order>3</order>
    </module>
    <module>
       <name>comment</name>
        <title>Nhận xét</title>
        <class>oop.module.CommentModule</class>
        <position>bottom_right</position>
        <order>1</order>
    </module>
    <module>
        <name>topic-children</name>
        <title>Chủ đề con</title>
        <class>oop.module.topic.ChildrenModule</class>
        <position>action-bottom</position>
        <order>1</order>
        <page>topic/children.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.Topic</articleType>
    </module>
    <module>
        <name>topic-question</name>
        <title>Câu hỏi thuộc chủ đề</title>
        <class>oop.module.topic.QuestionInTopicModule</class>
        <position>action-bottom</position>
        <order>2</order>
        <page>topic/question.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.Topic</articleType>
    </module>
    <module>
        <name>topic-test</name>
        <title>Đề thi thuộc chủ đề</title>
        <class>oop.module.topic.TestInTopicModule</class>
        <position>action-bottom</position>
        <order>3</order>
        <page>topic/test.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.Topic</articleType>
    </module>
    <module>
        <name>topic-teststruct</name>
        <title>Cấu trúc đề thuộc chủ đề</title>
        <class>oop.module.topic.TestStructureInTopicModule</class>
        <position>action-bottom</position>
        <order>4</order>
        <page>topic/teststruct.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.Topic</articleType>
    </module>
    <module>
        <name>question-test</name>
        <title>Được sử dụng trong đề thi</title>
        <class>oop.module.question.UsedByTestModule</class>
        <position>action-bottom</position>
        <order>4</order>
        <page>question/test.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.BaseQuestion</articleType>
    </module>
    <module>
        <name>related-test</name>
        <title>Các bài thi có liên quan:</title>
        <class>oop.module.test.RelatedTest</class>
        <position>action-bottom</position>
        <order>4</order>
        <page>test/related-test.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.TextArticle</articleType>
        <articleType>oop.data.BaseQuestion</articleType>
    </module>
    <module>
        <name>related-TextArticle</name>
        <title>Các bài viết có liên quan:</title>
        <class>oop.module.TextArticle.RelatedTextArticle</class>
        <position>action-bottom</position>
        <order>4</order>
        <page>TextArticle/related-TextArticle.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.Test</articleType>
        <articleType>oop.data.BaseQuestion</articleType>
    </module>
    <module>
        <name>related-BaseQuestion</name>
        <title>Các câu hỏi có liên quan:</title>
        <class>oop.module.question.RelatedBaseQuestion</class>
        <position>action-bottom</position>
        <order>4</order>
        <page>question/related-BaseQuestion.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.TextArticle</articleType>
        <articleType>oop.data.Test</articleType>
    </module>
    <module>
        <name>todo</name>
        <class>oop.module.personal.Todo</class>
        <position>action-bottom</position>
        <order>1</order>
        <page>personal/todo.jsp</page>
        <inAction>article.view</inAction>
        <loginRequired>true</loginRequired>
    </module>
    <module>
        <name>create-article</name>
        <title>Tạo bài viết</title>
        <position>top_right</position>
        <order>2</order>
    </module>
    <module>
        <name>search</name>
        <title>Tìm kiếm</title>
        <position>top_left</position>
        <order>2</order>
    </module>
    
    <module>
        <name>todo</name>
        <class>oop.module.personal.Todo</class>
        <position>action-bottom</position>
        <order>1</order>
        <page>personal/todo.jsp</page>
        <inAction>article.view</inAction>
        <articleType>oop.data.TextArticle</articleType>
        <articleType>oop.data.Test</articleType>
        <loginRequired>true</loginRequired>
    </module>
    <!-- 
    <module>
        <name>fbconnect</name>
        <title>Đăng nhập bằng tài khoản FaceBook</title>
        <position>top_right</position>
        <order>3</order>
        <page>auth/fbconnect.jsp</page>
    </module>
    <module>
       <name>login</name>
        <title>Đăng nhập</title>
        <class>oop.module.LoginModule</class>
        <position>left</position>
        <order>1</order>
    </module>
    -->
</config>
