<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ocwiki</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>oop.controller.Initializer</listener-class>
  </listener>
  
  <servlet>
    <description></description>
    <display-name>ActionController</display-name>
    <servlet-name>ActionController</servlet-name>
    <servlet-class>oop.controller.ActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionController</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionController</servlet-name>
    <url-pattern>/action/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>APIController</display-name>
    <servlet-name>APIController</servlet-name>
    <servlet-class>oop.controller.APIController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APIController</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ArticleController</display-name>
    <servlet-name>ArticleController</servlet-name>
    <servlet-class>oop.controller.ArticleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleController</servlet-name>
    <url-pattern>/article/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <servlet-name>REST Service</servlet-name>
    <servlet-class>oop.controller.RestController</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>oop.controller.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
</web-app>