<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	    <mapping resource="oop/data/User.hbm.xml" />
        <mapping resource="oop/data/FacebookAccount.hbm.xml" />
        <mapping resource="oop/data/OpenIDAccount.hbm.xml" />
        <mapping resource="oop/data/Topic.hbm.xml" />
        <mapping resource="oop/data/TopicReport.hbm.xml" />
        <mapping resource="oop/data/TopicSet.hbm.xml" />
        <mapping resource="oop/data/Namespace.hbm.xml" />
        <mapping resource="oop/data/Revision.hbm.xml" />
        <mapping resource="oop/data/Resource.hbm.xml" />
        <mapping resource="oop/data/ResourceReport.hbm.xml" />
        <mapping resource="oop/data/ResourceCustomization.hbm.xml" />
        <mapping resource="oop/data/CategorizableArticle.hbm.xml" />
        <mapping resource="oop/data/TextArticle.hbm.xml" />
        <mapping resource="oop/data/Solution.hbm.xml" />
        <mapping resource="oop/data/BaseArticle.hbm.xml" />
        <mapping resource="oop/data/Article.hbm.xml" />
        <mapping resource="oop/data/Text.hbm.xml" />
        <mapping resource="oop/data/File.hbm.xml" />
        <mapping resource="oop/data/BaseQuestion.hbm.xml" />
        <mapping resource="oop/data/QuestionAttempt.hbm.xml" />
        <mapping resource="oop/data/Answer.hbm.xml" />
        <mapping resource="oop/data/Question.hbm.xml" />
        <mapping resource="oop/data/Section.hbm.xml" />
        <mapping resource="oop/data/Test.hbm.xml" />
        <mapping resource="oop/data/SectionStructure.hbm.xml" />
        <mapping resource="oop/data/TestStructure.hbm.xml" />
        <mapping resource="oop/data/Constraint.hbm.xml" />
        <mapping resource="oop/data/TopicConstraint.hbm.xml" />
        <mapping resource="oop/data/LevelConstraint.hbm.xml" />
        <mapping resource="oop/data/History.hbm.xml" />
        <mapping resource="oop/data/HistoryAnswer.hbm.xml" />
        <mapping resource="oop/data/ChoiceAnswer.hbm.xml" />
        <mapping resource="oop/data/Comment.hbm.xml" />
        <mapping resource="oop/data/CommentReport.hbm.xml" />
        <mapping resource="oop/data/CommentCustomization.hbm.xml" />
        <mapping resource="oop/data/stat/DailyStatistic.hbm.xml" />
        <mapping resource="oop/data/stat/ResourceViewCounter.hbm.xml" />
        <mapping resource="oop/data/log/Log.hbm.xml" />
        <mapping resource="oop/data/log/ResourceLog.hbm.xml" />
        <mapping resource="oop/data/log/CommentLog.hbm.xml" />
        <mapping resource="oop/data/log/NewRevisionLog.hbm.xml" />
        <mapping resource="oop/data/log/NewUserLog.hbm.xml" />
	
		<event type="post-update">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
			<listener class="org.ocwiki.persistence.search.IndexUpdateListener"/>
		</event>
		<event type="post-insert">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
			<listener class="org.ocwiki.persistence.search.IndexUpdateListener"/>
		</event>
		<event type="post-delete">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
			<listener class="org.ocwiki.persistence.search.IndexUpdateListener"/>
		</event>
		<event type="post-collection-recreate">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
		</event>
		<event type="post-collection-remove">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
		</event>
		<event type="post-collection-update">
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
		</event>
		<event type="flush">
			<listener class="org.hibernate.event.def.DefaultFlushEventListener" />
			<listener class="org.hibernate.search.event.FullTextIndexEventListener" />
		</event>

	</session-factory>
</hibernate-configuration>
