* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #265b6f;
}

a:HOVER {
	text-decoration: underline;
}

a:visited {
	color: #196050;
}

.rfloat {
	float: right;
}

.lfloat {
	float: left;
}

ul {
	list-style-type: square;
}

.mouse-out {
	
}

#rightWrapper {
	float: right;
	width: 610px;
	margin-right: 10px;
	background-image: url("../images/right-border.png");
	background-position: top left;
	background-repeat: repeat-y;
	padding-left: 1px;
}

#rightBottom {
	background-image: url("../images/right-border.png");
	background-position: top left;
	background-repeat: repeat-x;
	height: 1px;
	width: 100%;
}

#right {
	background: white;
	padding: 10px;
	min-height: 450px;
}

#right ol,#right ul {
	margin-left: 30px;
}

#right h2 {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	color: #196050;
}

#right img {
	border: 0;
}

#right .test-description {
	clear: both;
}

#right .section {
	clear: both;
}

#right th {
	text-align: center;
	vertical-align: top;
}

#right td {
	vertical-align: top;
}

#right .section-text-wrapper {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}

#right .section-text {
	padding-right: 90px;
}

.mouse-highlight:HOVER {
	background: #ffefef;
}

#right .mouse-in {
	background: #ffefef;
}

#right .mouse-out {
	background: none;
}

#right .question-wrapper {
	margin-top: 10px;
	clear: both;
}

#right .section-wrapper {
	margin-top: 0px;
	clear: both;
}

.question-content-wrapper {
	padding-bottom: 5px;
}

.answer-list-wrapper {
	clear: both;
}

.answer-wrapper {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}

.content-wrapper {
	float: left;
}

.number-wrapper {
	float: left;
	margin-right: 2px;
}

.number {
	font-weight: bold;
}

.check-wrapper {
	float: left;
	margin-right: 10px;
}

.marker-wrapper {
	float: left;
	margin-right: 5px;
}

#right .question {
	padding-right: 90px;
}

.buttons {
	float: right;
	margin-right: 10px;
}

.buttons a {
	cursor: pointer;
}

.button-wrapper {
	float: right;
	margin-right: 10px;
	display: none;
}

.button-wrapper a {
	cursor: pointer;
}

.hover {
	background: #ffefef;
}

.hover .button-wrapper {
	display: block;
}

#right .column-count {
	width: 250px;
	text-align: right;
}

#right .mouse-in .buttons {
	display: block;
}

#right .mouse-out .buttons {
	display: none;
}

#right .column-buttons {
	width: 200px;
}

#right .row-constraint td {
	height: 20px;
}

body {
	font: 13px Arial, Helvetica, sans-serif;
}

#content {
	margin: 0 auto;
	width: 798px;
	text-align: left;
}

#main {
	width: 100%;
	margin: 0 auto;
	clear: both;
	background: #F3F3F3;
}

#right ol,#right ul {
	margin-left: 30px;
	line-height: 20px;
}

#right h3 { /*padding-left: 30px;*/
	
}

#menu {
	width: 701px;
	height: 53px;
	background: url(../images/menu.gif) no-repeat;
	border-bottom: 10px solid #000000;
}

#menu ul {
	list-style: none;
	padding-left: 0px;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	height: 35px;
	padding-top: 18px;
	width: 95px;
}

#menu a:hover {
	height: 35px;
	background: url(../images/menu_hover.jpg) repeat-x;
}

#left {
	width: 178px;
	background: transparent;
}

#left ul {
	list-style-type: none;
}

#left ul li {
	
}

#left ul li a {
	display: block;
	color: black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 20px;
	background: url("../images/tick-tiny.png") no-repeat scroll 10px 11px;
}

#left ul li a:HOVER {
	text-decoration: none;
	background-color: #c2ffa7;
}

#left p {
	padding-left: 20px;
}

#mainbot {
	clear: both;
}

#footer {
	background: none repeat scroll 0 0 #F3F3F3;
	padding: 10px;
}

#footer p {
	
}

table {
	text-align: left;
}

#right table {
	width: 100%;
	clear: both;
}

#right .mceLayout {
	clear: none;
}

#right .mceToolbar {
	width: auto;
}

#form_edit br {
	clear: both;
}

#form_edit {
	clear: both;
	width: 400px;
}

#form_edit input,#form_edit select {
	float: right;
	clear: both;
}

.error-validating { /*display: block;
	clear: both;
	float: right;*/
	color: red;
}

div.error-validating {
	clear: both;
}

.ocw-input .error-validating {
	display: block;
	color: red;
	float: none;
	clear: inherit;
}

.solve-status {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 10px;
	background-color: yellow;
}

.solve-status .value {
	font-weight: bold;
}

#right #qc_content_container,#right #qc_content {
	width: 400px;
}

#right #tc_description_container,#right #tc_description {
	width: 400px;
}

.toolbar {
	float: left;
}

#right .navigator {
	float: right;
}

#right .empty-notif {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	font-style: italic;
}

#right .list-new {
	margin-left: 20px;
}

#listForm {
	clear: both;
}

.clear {
	clear: both;
}

fieldset {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 10px 10px 0 0;
}

legend {
	padding-left: 10px;
	padding-right: 10px;
}

.mark-question-list .mouse-in {
	background: #ffefef;
}

.mark-question-list .mouse-out {
	background: none;
}

.notification {
	padding: 10px;
	border: thin dashed;
	font-weight: bolder;
	background: #ffefef;
	margin-top: 10px;
	margin-bottom: 20px;
}

.error-notification {
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 100px;
	color: red;
	font-weight: bolder;
	font-size: larger;
	border: thin dashed;
	background: #ffefef;
	text-align: center;
}

.message {
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: larger;
	border: thin dashed;
	background: #ffefef;
	text-align: center;
}

/*
 * tránh bị xuống dòng vì trong câu trả lời có thẻ p
 */
.question-number-wrapper {
	float: left;
	margin-right: 10px;
}

.section-title {
	border-bottom: 1px solid #AAAAAA;
}

/***************************************************************************
 * ARTICLE STYLES
 ***************************************************************************/
.article-wrapper .header {
	border-bottom: 1px solid #AAAAAA;
}

.article-wrapper .name {
	
}

.article-wrapper .toolbar {
	margin-top: 8px;
	float: right;
}

.article-wrapper .meta-wrapper {
	clear: both;
	font-size: smaller;
}

.mode-link {
	
}

.mode-link-disabled {
	color: graytext;
}

#tool-menu {
	float: right;
	margin-top: 8px;
}

/*
#tool-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#tool-menu ul li {
  list-style: none;
}

#tool-menu ul.horizontal li.level1 {
    float: left;
    /margin-left: 3px;
    margin-right: 3px;
}

#tool-menu ul.horizontal li.level1 a:hover {

}

#tool-menu ul.horizontal > li.level1 a {
  width: auto;
}
*/
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tool-menu ul li a {
	float: none;
}

/* End IE5-Mac hack */
/*
#tool-menu ul.dropdown,
#tool-menu ul.flyout {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  width: 100px;
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
  background-color: white;
}

#tool-menu ul.dropdown li.level2,
#tool-menu ul.flyout li.level3 {
  border-bottom: 1px solid #999999;
}

#tool-menu ul.dropdown li.level2 a,
#tool-menu ul.flyout li.level3 a {
  font-size: 11px;
  font-weight: normal;
  color: black;
  padding: 2px 4px 2px 5px;
  display: block;
}

#tool-menu ul.dropdown li.level2 a:hover,
#tool-menu ul.flyout li.level3 a:hover {
  color: white;
  font-weight: bold;
  background-color: #BFE2E6;
}
*/
.jsmenu {
	
}

.jsmenu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.jsmenu ul li {
	list-style: none;
}

.jsmenu ul.horizontal li.level1 {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
}

.jsmenu ul.horizontal li.level1 a:hover {
	
}

.jsmenu ul.horizontal>li.level1 a {
	width: auto;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.jsmenu ul li a {
	float: none;
}

/* End IE5-Mac hack */
.jsmenu ul.dropdown,.jsmenu ul.flyout {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	width: 100px;
	border: 1px solid #999999;
	background-color: white;
}

.jsmenu ul.dropdown li.level2,.jsmenu ul.flyout li.level3 {
	border-bottom: 1px solid #999999;
}

.jsmenu ul.dropdown li.level2 a,.jsmenu ul.flyout li.level3 a {
	font-size: 11px;
	font-weight: normal;
	color: black;
	padding: 2px 4px 2px 5px;
	display: block;
}

.jsmenu ul.dropdown li.level2 a:hover,.jsmenu ul.flyout li.level3 a:hover
	{
	color: white;
	font-weight: bold;
	background-color: #BFE2E6;
}

.ajax-editor {
	display: none;
}

/**
 * Header begin
 */
#headBar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 39px;
	background: url("../images/headerbg.png") repeat-x;
}

#headNav {
	min-width: 500px;
	width: 100%;
	height: 39px;
}

#headNav a {
	display: block;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 3px;
}

#headNav a:VISITED {
	text-decoration: none;
}

#headNav a:HOVER {
	text-decoration: none;
	color: white;
	background-color: #59a437;
}

#headNav>.rfloat {
	list-style: none outside none;
	display: block;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#headNav>.rfloat li.level1 {
	cursor: pointer;
}

#headNav>.rfloat .level2 {
	text-shadow: none;
}

#headNav>.rfloat>li>a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#headNav .level2 a {
	padding: 4px 10px 5px;
}

#headNav>.rfloat>li {
	float: left;
}

#headNav>.rfloat>li>a {
	padding-top: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 12px;
}

#headNav>.rfloat li.level1 {
	padding-top: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 12px;
}

#headNav>.rfloat li.level1:HOVER {
	background-color: #59a437;
}

#headNav .jsmenu ul.horizontal li.level1 {
	margin-left: 0;
	margin-right: 0;
}

#headNav .logo a {
	padding-right: 10px;
}

#headNav .logo a:HOVER {
	background: none;
}

#headNav .level2 a:HOVER {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/*
 * Header end
 */
/**
 * Left side bar start
 */
#left .modtitle {
	color: #4D4D4D;
	font-weight: normal;
	font-size: 14px;
}

/**
 * Left side bar end
 */
.top_left {
	padding-left: 10px;
	float: left;
}

.top_right {
	padding-right: 10px;
	float: right;
}

#session-loginDialog {
	
}

#session-loginDialog .session-button {
	width: auto;
}

.ocw-label {
	text-align: right;
}

.ocw-input {
	text-align: left;
}

//
math editor
span.AMedit {
	border: 1px solid #ff0000;
}

#topicTree-container {
	
}

.topicTree-subContainer {
	margin-left: 20px;
}

.autocomplete-w1 {
	background: url(shadow.png) no-repeat bottom right;
	position: absolute;
	top: 4px;
	left: 3px; /* IE6 fix: */
	_background: none;
	_top: 1px;
}

.autocomplete-w2 {
	padding: 0 6px 6px 0;
}

.autocomplete {
	width: 300px;
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	margin: -6px 6px 6px -6px; /* IE specific: */
	_height: 350px;
	_margin: 0px 6px 6px 0;
	overflow-x: hidden;
}

.autocomplete .selected {
	background: #F0F0F0;
}

.autocomplete div {
	padding: 2px 5px;
	white-space: nowrap;
}

.autocomplete strong {
	font-weight: normal;
	color: #3399FF;
}

/**
 * fileuploader styles
 */
.qq-uploader {
	position: relative;
	width: 100%;
}

.qq-upload-button {
	display: block; /* or inline-block */
	width: 105px;
	padding: 7px 0;
	text-align: center;
	background: #880000;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.qq-upload-button-hover {
	background: #cc0000;
}

.qq-upload-button-focus {
	outline: 1px dotted black;
}

.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 70px;
	z-index: 2;
	background: #FF9797;
	text-align: center;
}

.qq-upload-drop-area span {
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -8px;
	font-size: 16px;
}

.qq-upload-drop-area-active {
	background: #FF7171;
}

.qq-upload-list {
	margin: 15px 35px;
	padding: 0;
	list-style: disc;
}

.qq-upload-list li {
	margin: 0;
	padding: 0;
	line-height: 15px;
	font-size: 12px;
}

.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-failed-text
	{
	margin-right: 7px;
}

.qq-upload-file {
	
}

.qq-upload-spinner {
	display: inline-block;
	background: url("loading.gif");
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}

.qq-upload-size,.qq-upload-cancel {
	font-size: 11px;
}

.qq-upload-failed-text {
	display: none;
}

.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}

#navSearch {
	margin: 4px 0 0 4px;
}

#searchWrapper {
	background-color: white;
	margin-top: 8px;
}

.searchInput {
	position: relative;
	padding: 1px 0 2px;
}

.searchInput span {
	border-color: white;
	border-right: 0 none;
	border-style: solid none none;
	display: inline-block;
	padding: 1px 0 2px;
	position: relative;
}

.searchInput input {
	border-color: -moz-use-text-color #E5E5E5 -moz-use-text-color
		-moz-use-text-color;
	border-style: none solid none none;
	border-width: 0 1px 0 0;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	margin: 0 22px 0 5px;
	outline: medium none;
	padding: 1px 5px 2px 0;
	width: 265px;
}

.searchInput button {
	background-image: url("../images/search.png");
	background-repeat: no-repeat;
	border: 0 none;
	position: absolute;
	cursor: pointer;
	width: 22px;
	height: 19px;
	padding: 0;
	right: 0;
	top: 0;
}

.wrapper {
	border-color: #5dac3a;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}

.logo img {
	border: none;
}

/**
 * Accordion begin
 */
.accor-container {
	background-image: url("../images/accor-break.png");
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 12px;
	padding-bottom: 10px;
}

.accor-header {
	padding-left: 23px;
	padding-bottom: 5px;
	background-image: url("../images/accor-down.png");
	background-position: top left;
	background-repeat: no-repeat;
	cursor: pointer;
	color: #4D4D4D;
}

.accor-collapsed {
	text-decoration: underline;
	color: #265b6f;
}

.accor-body {
	margin-left: 25px;
}

/*
 * Accordion end
 */
.defaultValueTextbox {
	color: #777777;
}

ul.shareList li {
	margin-top: 10px;
}

.bottom-toolbar {
	float: right;
	cursor: pointer;
	background-image: url("../images/toolbar-bg.png");
	background-repeat: repeat-x;
	height: 16px;
	padding: 4px;
	margin-top: 4px;
	border-top: 1px #999999 solid;
	border-left: 1px #999999 solid;
	border-right: 1px #999999 solid;
}

.comment .avatar {
	float: left;
    margin-right: 4px;
}

.comment-body {
	margin-left: 36px;
	min-height: 32px;
}

.even .comment-body {
	background:#c7dcff;
}

.pagination ul {
	clear: both;
	list-style-type:none;
	float: right;
	display:block;
}
	
.pagination ul li {
	display:block;
	float: left;
}

.pagination ul li a {
	cursor:pointer;
    text-decoration:none;
	padding:3px 3px 2px;
}

.pagination ul li a.currentPage {
	border-bottom:2px solid #59A437;
	color:#59A437;
	font-weight:bold;
}

.pagination ul li a:hover {
	color: white;
	background: #59A437;
    text-decoration:none;
}